
.card-container {
  width: 100%;
}

/*.card-container img{
  max-width: 500px;
  max-height: 500px;
}*/

.card:hover {
  box-shadow: 10px 10px 5px rgb(50, 0, 0);
}

.small-font {
	font-size: 8px;
}

.med-font {
	font-size: 12px;
}
