.nav-bar {
  background: linear-gradient(to bottom right, #1EA0F2, #971EEB);
  position: fixed;
  z-index: 10;
}

.navbar li:hover {
    background-color: rgba(223, 223, 32, .5);
    padding-bottom: 0;
}

.margin-top {
    margin-top: 150px;
}

.logo {
    height: 50px;
    width: 180px;
    margin-top: -10px;
    padding: 0;
}

li a {
  padding: 0;
}

#title-box {
    background-image: url("https://goo.gl/6koq5d");
    speed: .5;
    z-index: -10;
    min-height: 1000px;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#info-box {
    background-image: url("https://goo.gl/DQvwQc");
    /*data-speed: .5;*/
    min-height: 1000px;
    z-index: 1;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-box {
    background-color: rgba(153, 153, 153, .7);
    min-height: 500px;
    max-height: 500px;
    width: 75%;
    text-align: center;
    margin: auto;
    line-height: 500px;
    box-shadow: 10px 10px 5px rgba(51, 51, 51, .8);
    font-family: 'Ruslan Display', cursive;
    font-size: 35px;
}

.para-text {
    color: rgba(89, 89, 89, .8);
    font-family: 'Ruslan Display', cursive;
    margin-top: 100px;
    margin-bottom: 100px;
    position: static;
}

.para-text p {
    font-size: 20px;
    position: static;
}

.para-text img {
    max-width: 100%;
    position: static;
}

.right {
  text-align: right;
}

.card:hover {
  box-shadow: 10px 10px 5px rgb(50, 0, 0);
}

/*li {
    display: inline-block;
    height: 50px;
    padding: 0;
}*/

#appView {
    background-color: black;
    color: white;
}

#ngView {

}

#login-modal {
  color: black;
  box-shadow: 10px 10px 5px rgb(50, 0, 0);
}

.news-view {
  display: inline-block;
  background: linear-gradient(to bottom right, #1EA0F2, #971EEB);
}

.modal-content {
  background-color: rgba(102, 102, 102, .5);
}

.social li {
  display: inline-block;
  padding: 5px;
  padding-top: 10px;
}

.twitter-box {
  padding-top: 10px;
  padding-left: 10px;
}
